:root {
  --background-primary: #ffffff;
  --background-secondary: #2f303a;
  --background-tertiary: #f5f4fa;
  --header-text-primary: #212121;
  --header-text-secondary: #757575;
  --header-text-accent: #2196f3;
  --hero-text-primary: #ffffff;
  --body-text-primary: #212121;
  --body-text-secondary: #757575;
  --footer-text-primary: #ffffff;
  --footer-text-secondary: rgba(255, 255, 255, 0.6);
  --footer-text-accent: #2196f3;
  --button-background-primary: #2196f3;
  --button-background-secondary: #f5f4fa;
  --button-text-primary: #ffffff;
  --button-text-secondary: #212121;
  --icon-primary: #afb1b8;
  --icon-hover: #ffffff;
  --icon-background-primary: #ffffff;
  --icon-background-secondary: #2196f3;
  --modal-border: #2196f3;
  --modal-icon-primary: #212121;
  --modal-icon-secondary: #2196f3;
}
